.feature {
    text-align: center;
    padding: 60px 20px 70px 20px;
}

.feature-header {
    margin-bottom: 80px;
}

.feature-header .heading {
    font-size: 25px;
    margin-bottom: 10px;
}

.feature-header .sub-heading {
    color: hsl(257, 7%, 63%);
    font-size: 16px;
}

.feature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}

.feature-list .underline {
    position: absolute;
    background-color: hsl(180, 66%, 49%);
    height: 600px;
    width: 7px;
    top: 0;
    left: 49%;
    z-index: -1;
}

.feature-container {
    background-color: white;
    padding: 50px 20px 30px 20px;
    position: relative;
    display: inline;
    height: 200px;
    width: 300px; 
    
}

.feature-container img {
    background-color: hsl(257, 27%, 26%);
    height: 70px;
    width: 70px;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: -18%;
    left: 38%;
}

.feature-container h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.feature-container p {
    color: hsl(257, 7%, 63%); 
    font-size: 14px;
}

/* mobile view */
@media (max-width: 640px) {

}

/* tablet view */
@media (min-width: 641px) and (max-width: 1007px) {

}

/* desktop view */
@media (min-width: 1008px) {
    .feature-list {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    .feature-list .underline {
        height: 10px;
        width: 700px;
        top: 60%;
    }
    .feature-container img {
        left: 10%;
    }
    .feature-list div:nth-child(2) {
        margin-top: 80px;
    }
    .feature-list div:nth-child(3) {
        margin-top: 160px;
    }
    .feature-header {
        margin-bottom: 0;
    }
    .feature-header .heading {
        font-size: 30px;
        font-weight: 600;
    }
    .feature-header .sub-heading {
        font-size: 16px;
        padding: 0 350px;
    }
}