.feature {
    text-align: center;
    padding: 60px 20px 70px 20px;
}

.feature-header {
    margin-bottom: 80px;
}

.feature-header .heading {
    font-size: 25px;
    margin-bottom: 10px;
}

.feature-header .sub-heading {
    color: hsl(257, 7%, 63%);
    font-size: 16px;
}

.feature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}

.feature-list .underline {
    position: absolute;
    background-color: hsl(180, 66%, 49%);
    height: 600px;
    width: 7px;
    top: 0;
    left: 49%;
    z-index: -1;
}

.feature-container {
    background-color: white;
    padding: 50px 20px 30px 20px;
    position: relative;
    display: inline;
    max-height: 200px;
    max-width: 300px;
}

.feature-container img {
    background-color: hsl(257, 27%, 26%);
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: 40%;
    right: 46%;
    bottom: 0;
}

.feature-container h3 {
    margin-bottom: 10px;
}

.feature-container p {
    color: hsl(257, 7%, 63%); 
    font-size: 15px;
}