.footer {
    background-color: hsl(260, 8%, 14%);
    text-align: center;
    padding: 50px 0;
}

.footer-links {
    margin: 40px 0;
}

.footer .features {
    margin-bottom: 20px;
}

.footer .features ul {
    padding: 0;
}
.footer .features ul li {
    margin: 10px 0;
}

.footer .features h3 {
    color: white;
    margin-bottom: 15px;
}

.footer ul li a {
    color: hsl(0, 0%, 75%);
    text-decoration: none;
    font-size: 16px;
}

.footer ul li a:hover {
    color: hsl(180, 66%, 49%);
}

.footer-socmeds ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.footer-socmeds i {
    color: white;
    cursor: pointer;
}

.footer-socmeds i:hover {
    color: hsl(180, 66%, 49%);
}

/* mobile view */
@media (max-width: 640px) {

}

/* tablet view */
@media (min-width: 641px) and (max-width: 1007px) {

}

/* desktop view */
@media (min-width: 1008px) {
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 70px 100px;
    }
    .footer-links {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 80px;
        text-align: start;
        padding: 0;
        margin: 0;
    }
    .footer .features h3 {
        font-size: 18px;
        margin-bottom: 30px;
    }
}
