.footer-banner {
    background-image: url(../assets/images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    padding: 120px 0 80px 0;
    text-align: center;
}

.footer-heading {
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}

.footer-btn {
    color: white;
    border: none;
    background: hsl(180, 66%, 49%);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 35px;
}

.footer-btn:hover {
    filter: opacity(80%);
}

/* mobile view */
@media (max-width: 640px) {

}

/* tablet view */
@media (min-width: 641px) and (max-width: 1007px) {
    .footer-banner {
        background-image: url(../assets/images/bg-boost-desktop.svg);
    }
}

/* desktop view */
@media (min-width: 1008px) {
    .footer-banner {
        background-image: url(../assets/images/bg-boost-desktop.svg);
        padding: 0 100px;
        height: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .footer-heading {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}